# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Angular build output
/frontend/dist
/frontend/.angular/cache
/frontend/tmp
/frontend/out-tsc

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Logs
*.log
